node_modules
.env
npm-debug.log

# vim swap files
*.swp
*.swo

# mac trash folders
**/*.DS_Store

# sourcempas
**/*.map

# Our compiled files do not need to be committed
public/bundle.js
public/css/**
prod/

# ignore source map files
*.map
