<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html;">
        <meta charset='utf-8'>

        <link rel="stylesheet" href="/css/app.css" type="text/css" media"screen" charset="utf-8">
        <link rel="stylesheet" href="/css/global_style.css" type="text/css" media"screen" chatset="utf-8">

        <title>Spytroll</title>
    </head>

    <body>
        <div id="app">
            <script src="/bundle.js" type="text/javascript" charset="utf-8"></script>
        </div>

        <script src="/socket.io/socket.io.js"></script>
        <script>
            var socket = io('http://localhost');
            socket.on('connect', function(){});
            socket.on('event', function(data){
            
            });
            socket.on('disconnect', function(){});
        </script>
    </body>
</html>
